body {
  background-color: beige;
}

.navigation {
  background-color: purple;
  color: beige;
  width: auto;
  height: auto;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Life Savers;
  font-style: normal;
  font-weight: 800;
}

a:visited {
  color: beige;
  text-decoration: none;
}

a {
  color: beige;
  text-decoration: none;
  padding: 16px;
}

.selected {
  border: 2px solid beige;
  background-color: rgb(114, 1, 114);
}

.homepage {
  font-size: 48px;
  font-family: Life Savers;
  font-style: normal;
  font-weight: 800;
  text-align: center;
  width: 100%;
  margin-top: 160px;
  color: purple;
}

h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: Life Savers;
  font-style: normal;
  font-weight: 800;
  color: purple;
}

h2 {
  text-align: center;
  color: purple;
  font-family: Life Savers;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.post-content {
  font-size: 18px;
  margin-bottom: 10px;
}

button:hover {
  color: beige;
  background-color: purple;
}

.comment-content {
  font-size: 18px;
  margin-bottom: 10px;
}

.comment {
  margin-left: 10px;
}

.comment-area {
  width: 480px;
  height: 70px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid purple;
}

.post-area {
  width: 740px;
  height: 240px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid purple;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 18px;
}

.title-input {
  width: 740px;
  height: 36px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid purple;
  padding-left: 20px;
  font-size: 18px;
}
